{% extends 'base.html' %}

{% block title %}
<title>Кабинет администратора</title>
{% endblock %}

{% block body %}
{% if request.cookies.get('user')=='admin' %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Редактор ассортимента</h1><br/>
  <p class="lead"></p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
  {% for el in data %}
  <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{ el.title }}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{ el.price }} <small class="text-muted">рублей</small></h1>
        <a href="/delete/{{ el.id }}" class="btn btn-lg btn-block btn-outline-primary">Удалить</a>
      </div>
    </div>
  {% endfor %}
  </div>

  {% else %} <h1>Вы не администратор</h1> {% endif %}

{% endblock %}